
body{
	background-color:black;
	color:white;
	font-family: 'Poppins',sans-serif;
	size: cover;
}
form{
	height:200px; 
}
.button{
	padding:20px;
}
input{
  width:25%;
  height:32px; 
  border-radius: 4px;
  cursor: pointer;
  padding:8px;
}
.sub{
	width:12%
}
.sub:hover{
	background-color:gray;
	cursor: pointer;
}
h1{
	  text-align: center;
}





